<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">Titulo</div>
        <div class="card-body">
            <nav>
                <a class="button" routerLink="/carro">Ir a carro</a> |
                <a class="button" routerLink="/moto">Ir a moto</a>
            </nav>
            <input type="text">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>